<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuyun.liuyunshiro.modules.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="RoleEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="per_code" property="perCode"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
        <result column="version" property="version"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <sql id="BaseSql">
        id, name, create_user_id, create_time, update_user_id, update_time, remark, version, del_flag
    </sql>

    <select id="queryRolesByUser" resultMap="BaseResultMap">
        SELECT
            lyr.id,
            lyr.`name`,
            lyr.per_code
        FROM
            liuyun_user lyu
        INNER JOIN
            liuyun_user_role lyur ON lyu.id	=  lyur.user_id
        INNER JOIN
            liuyun_role lyr ON lyur.role_id = lyr.id
        WHERE
            lyu.account = #{account}
        AND
            lyu.del_flag = 0
        AND
            lyr.del_flag = 0
    </select>

</mapper>
